.btn {
  text-align: center;
  gap: 0.25em;
  font-weight: 400;
  padding: 0.675em 1.25em;
  border: var(--border, 1px solid transparent);
  outline: 2px solid transparent;
  appearance: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: transform 0.3s;
  user-select: none;
  position: relative;
  line-height: 1;
  border-radius: 0.25em;

  & > svg {
    width: 1em;
  }
}

.btn:not([class~='btn--icon']):hover {
  background: var(--color-shared-10);
  transform: translateY(-0.5px);
  border-color: var(--color-shared-11);
}

.btn:focus-visible {
  outline: 2px solid var(--color-shared-7);
  outline-offset: 3px;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: inset 0 0 1rem rgb(0 0 0 / 10%);
}

.btn:disabled {
  background: var(--color-grey-6);
  pointer-events: none;
  color: var(--color-grey-3);
  border-color: var(--color-grey-6);
}

.btn__solid {
  background-color: var(--color-shared-9);
  color: white;
}

.btn__soft {
  background-color: var(--color-shared-5);
  color: var(--color-shared-12);
}

.btn__soft:hover,
.btn__outline:hover {
  background-color: var(--color-shared-4) !important;
}

.btn__outline {
  color: var(--color-shared-11);
  border-color: currentcolor;
}

.btn__text {
  color: var(--color-shared-8);
}

/* Root Style Section Start */

.btn__xs {
  font-size: 0.675rem;
}

.btn__sm {
  font-size: 0.75rem;
}

.btn__md {
  font-size: 0.875rem;
}

.btn__lg {
  font-size: 1rem;
}

.btn__xl {
  font-size: 1.125rem;
}

.btn--icon {
  display: inline-block;
  cursor: pointer;
  line-height: 0;
  width: 2.75em;
  height: 2.75em;
  padding: 0.25rem;
  background-color: var(--slate-4);
  border: 1px solid var(--slate-7);
  border-radius: 50%;
}

.btn--icon svg {
  width: 1.5em;
}

.btn--icon:hover {
  background-color: var(--slate-7);
}

.btn--fluid {
  display: flex;
  width: 100%;
}

// Loading content

.btn__loading-container {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: inherit;
  border-radius: inherit;
  color: white;
}
