.root {
  font-size: 1rem;
  padding: 0.25em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  user-select: none;
  border: var(--border, 2px solid transparent);
  border-radius: 0.25rem;

  background: var(--background);
  color: var(--color);
}

.contained {
  --background: var(--color-primary-main);
  --color: white;
}

.outline {
  --color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}
.text {
  --color: var(--color-primary-light);
}
.outline:hover,
.text:hover {
  --color: white;
  --background: var(--color-primary-main);
}

.iconContainer[data-loading] {
  margin-right: 0.75rem;
}

.root:hover {
  /* box-shadow: 0 1px 0 1px var(--color-primary-dark); */
  background: var(--color-primary-light);
}

.root:focus {
  border-color: var(--color-primary-light);
  box-shadow: 0 0 0.5rem var(--color-primary-light);
}

.root:disabled {
  box-shadow: 0 1px 0 1px var(--color-primary-dark);
}
