.root {
  font-size: 1.125rem;
  border: none;
  padding: 0.5em 1.5em;
  font-family: inherit;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  user-select: none;
  display: inline-block;
  border: 3px solid transparent;
  background: transparent;
  border-radius: 0.25rem;
}

.contained {
  background: var(--color-primary-main);
  color: white;
}

.outline {
  color: var(--color-primary-light);
}
.text {
  color: var(--color-primary-light);
}
.outline:hover,
.text:hover {
  color: white;
  background: var(--color-primary-main);
}

.iconContainer[data-loading] {
  margin-right: 0.75rem;
}

.root:hover {
  /* box-shadow: 0 1px 0 1px var(--color-primary-dark); */
  background: var(--color-primary-light);
}

.root:focus {
  border-color: var(--color-primary-light);
}

.root:disabled {
  box-shadow: 0 1px 0 1px var(--color-primary-dark);
}
