.root {
  font-size: 1.1rem;
  background: var(--color-primary-main);
  border: none;
  padding: 0.5em 1.5em;
  font-family: inherit;
  border-radius: 0.3em;
  color: currentColor;
  font-weight: 300;
  /* box-shadow: 0 1px 0 1px var(--color-primary-main); */
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6rem;
  box-shadow: 0 0 0.5em var(--color-primary-main);
  text-transform: uppercase;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.existIconOrLoading {
  margin-right: 0.7rem;
}

.root:hover {
  /* box-shadow: 0 1px 0 1px var(--color-primary-dark); */
  background: var(--color-primary-light);
}

.root:focus {
  box-shadow: 0 0.3em 0.4em var(--color-primary-main);
  outline: none;
  box-shadow: 0 0 0 2px;
}

.root:disabled {
  box-shadow: 0 1px 0 1px var(--color-primary-dark);
}
