.button {
  padding: var(--spacing-XS) var(--spacing-XXL);
  border: none;
  outline: none;
  color: var(--secondary-text-light);
  /* margin: var(--spacing-md) var(--spacing-sm); */
  font-family: 'Montserrat';
  font-size: 1rem;
  box-shadow: 0 0 3px var(--secondary-color-opacity);
  cursor: pointer;
  /* margin:var(--spacing-XXS) var() */
}

.small {
  padding: var(--spacing-XXS) var(--spacing-XS);
  border-radius: var(--border-radius-XS);
}
.medium {
  padding: var(--spacing-XS) var(--spacing-XL);
  border-radius: var(--border-radius-sm);
}
.big {
  padding: var(--spacing-XS) var(--spacing-XXL);
  border-radius: var(--border-radius-md);
}
.fluid {
  width: 100%;
  padding: var(--spacing-sm) 0;
  border-radius: var(--border-radius-large);
}

.button.primary {
  background: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-main)
  );
  box-shadow: 0 0 3px var(--secondary-color-opacity);
}
.button.success {
  background: linear-gradient(
    to right bottom,
    var(--success-color-light),
    var(--success-color-main)
  );
  color: var(--success-color-dark);
  box-shadow: 0 0 3px var(--success-color-dark);
}
.button.danger {
  background: linear-gradient(
    to right bottom,
    var(--danger-color-light),
    var(--danger-color-main)
  );
  box-shadow: 0 0 3px var(--danger-color-dark);
  color: var(--danger-color-dark);
}
.button.info {
  background: linear-gradient(
    to right bottom,
    var(--info-color-light),
    var(--info-color-dark)
  );
  box-shadow: 0 0 3px var(--info-color-dark);
}

.button.warning {
  background: linear-gradient(
    to right bottom,
    var(--warning-color-light),
    var(--warning-color-dark)
  );
}

/* .button:hover {
    background: linear-gradient(
      to right,
      var(--tertiary-color-main),
      var(--secondary-color-main)
    );
    box-shadow: 0 0 15px var(--secondary-color-opacity);
  } */
