.root {
  width: 90%;
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: red;
  justify-content: space-between;
  margin: 10px;
  padding: var(--spacing-md);
}

.close {
  display: none;
}

.rightIconContainer {
  width: 2.5rem;
  height: 2.5rem;
  background-color: red;
  margin-right: var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
}

.textContainer {
  margin-right: auto;
}
.text {
  font-size: 1rem;
  font-weight: 400;
}
.closeIconContainer {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  cursor: pointer;
}

.success {
  background-color: var(--success-color-light);
  box-shadow: 0 0 3px var(--success-color-light);
}
.success .text {
  color: var(--success-color-dark);
}
.success .closeIconContainer {
  background-color: var(--success-color-main);
}

.warning {
  background-color: var(--warning-color-light);
  box-shadow: 0 0 3px var(--warning-color-light);
}
.warning .text {
  color: var(--warning-color-dark);
}
.warning .closeIconContainer {
  background-color: var(--warning-color-main);
}

.danger {
  background-color: var(--danger-color-light);
}
.danger .text {
  color: var(--danger-color-dark);
}
.danger .closeIconContainer {
  background-color: var(--danger-color-main);
}

.info {
  background-color: var(--info-color-light);
}
.info .text {
  color: var(--info-color-dark);
}
.info .closeIconContainer {
  background-color: var(--info-color-main);
}
