.footer {
  background-color: var(--slate-1);
}

.footer--contact {
  background-color: var(--slate-2);
}

.footer--contact > p {
  width: min(50ch, 90%);
}

.footer--copy-right {
  padding: 1rem;
}

.footer--hero-content {
  border-block: 1px solid var(--slate-6);
}
