.f-o {
  background-color: var(--b-1);
}

.f-o-cnt {
  background-color: var(--b-2);

  & > p {
    width: min(50ch, 90%);
  }
}

.f-o-cpR {
  padding: 1rem;
}

.f-o-hero {
  border-block: 1px solid var(--b-6);
}
