.fo- {
  background-color: var(--B1);
}

.fo-C {
  background-color: var(--B2);

  & > p {
    width: min(50ch, 90%);
  }
}

.fo-R {
  padding: 1rem;
}

.fo-H {
  border-block: 1px solid var(--B6);
}
