*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html,
.container {
  min-height: 100%;
}

body {
  font-family:
    -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen,
    "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande",
    Helvetica, Arial, sans-serif;
  color: var(--B12);
  background-color: var(--B1);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

input,
textarea,
select,
button {
  font: inherit;
  border: none;
  outline: none;
  appearance: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: currentcolor;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul,
p,
body {
  margin: 0;
  padding: 0;
}

a:not([class]) {
  color: var(--P11);
  text-decoration: 2px solid underline transparent;
  cursor: pointer;

  &:hover {
    text-decoration-color: currentcolor;
  }
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid transparent;
  box-shadow: 0 0 0 1px var(--P8);
  border-color: var(--P8);
}

nav :not(ul) {
  list-style: none;
}

.main {
  margin-top: var(--shared-value);
  display: flow-root;
}
