*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html,
.container {
  min-height: 100%;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen,
    'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica,
    Arial, sans-serif;
  color: var(--slate-12);
  background-color: var(--slate-1);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

input,
textarea,
select,
button {
  font: inherit;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
  color: currentcolor;
}

ul,
p,
body {
  margin: 0;
  padding: 0;
}

a:not([class]) {
  color: var(--primary-9);
  text-decoration: 2px solid underline transparent;
  cursor: pointer;
}

a:not([class]):hover {
  text-decoration-color: currentcolor;
}

button:focus-visible,
a:focus-visible {
  outline: 1px solid transparent;
  box-shadow: 0 0 0 1px var(--primary-8);
  border-color: var(--primary-8);
}

nav :not(ul) {
  list-style: none;
}

// div[data-rehype-pretty-code-fragment] {
//   overflow: hidden;
//   border-radius: 0.5rem;
//   border: 1px solid var(--opacity-6);
//   background-color: var(--slate-3);
// }

// div[data-rehype-pretty-code-fragment] pre {
//   overflow-x: auto;

//   /* stylist preferences */
//   padding: 0.5rem 0;
//   font-size: 0.925rem;
// }

// div[data-rehype-pretty-code-title] {
//   padding: 0.25rem 0.75rem;
//   font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
//     'Liberation Mono', 'Courier New', monospace;
//   font-size: 0.75rem;
//   line-height: 1.75;
//   color: var(--slate-11);
//   background-color: var(--opacity-6);
// }

// div[data-rehype-pretty-code-fragment] .line {
//   /* stylistic preferences */
//   border-inline-start: 4px solid transparent;
//   padding-inline-start: 1rem;
//   line-height: 1.75;
// }

// div[data-rehype-pretty-code-fragment] code {
//   display: grid;
// }

// div[data-rehype-pretty-code-fragment] .line--highlighted {
//   // border-color: var(--primary-9);
//   border-color: var(--primary-9);
//   background-color: var(--opacity-5);
// }

// code[data-line-numbers] {
//   counter-reset: lineNumber;
// }

// code[data-line-numbers] .line::before {
//   counter-increment: lineNumber;
//   content: counter(lineNumber);
//   display: inline-block;
//   color: var(--slate-10);
//   font-size: 0.875rem;
//   margin-inline-end: 1rem;
// }

// // pre[data-theme='dark'] {
// //   color-scheme: dark;
// // }

// html.dark [data-rehype-pretty-code-fragment] [data-theme='light'] {
//   display: none;
// }

// html.light [data-rehype-pretty-code-fragment] [data-theme='dark'] {
//   display: none;
// }

.main {
  margin-top: var(--shared-value);
  display: flow-root;
}

.prose {
  & :is(ul, ol) > * + * {
    margin-top: var(--space-2xs);
  }

  ul,
  ol {
    margin-left: 0.5rem;
  }
}

pre:has(.code--section) {
  background-color: var(--slate-3);
  padding: 1rem;
  font-size: 0.925rem;
  overflow: auto;
  max-height: 80vh;
}

.code--section {
  max-width: 100%;
  counter-reset: sh-line-number;
  font-family: 'dank mono', 'operator mono', inconsolata, 'fira mono',
    ui-monospace, 'sf mono', monaco, 'droid sans mono',
    'source code pro', monospace;
}

.sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  margin-inline-end: 1.25rem;
  color: hsl(0deg 0% 64%);
  font-size: 0.875rem;
}

.sh__line {
  border-inline-start: 4px solid transparent;
  line-height: 1.75;
}
