//  Font SIZE Variables

// :root {
//   --font-xs: clamp(0.63rem, 0.72rem + -0.14vw, 0.69rem);
//   --font-sm: clamp(0.83rem, 0.81rem + 0.1vw, 0.88rem);
//   --font-base: clamp(1rem, 0.9rem + 0.49vw, 1.25rem);
//   --font-md: clamp(1.2rem, 0.98rem + 1.11vw, 1.77rem);
//   --font-lg: clamp(1.44rem, 1.03rem + 2.07vw, 2.5rem);
//   --font-xl: clamp(1.73rem, 1.02rem + 3.52vw, 3.53rem);
//   --font-2xl: clamp(2.07rem, 0.93rem + 5.7vw, 5rem);
//   --font-3xl: clamp(2.49rem, 0.7rem + 8.93vw, 7.07rem);
// }

// :root {
//   --step--xxs: clamp(0.76rem, 0.76rem + 0.01vw, 0.77rem);
//   --step--xs: clamp(0.91rem, 0.9rem + 0.07vw, 0.96rem);
//   --step--sm: clamp(1.09rem, 1.06rem + 0.15vw, 1.2rem);
//   --step-base: clamp(1.31rem, 1.26rem + 0.27vw, 1.5rem);
//   --step-1: clamp(1.58rem, 1.49rem + 0.43vw, 1.88rem);
//   --step-2: clamp(1.89rem, 1.76rem + 0.65vw, 2.34rem);
//   --step-3: clamp(2.27rem, 2.08rem + 0.95vw, 2.93rem);
//   --step-4: clamp(2.72rem, 2.45rem + 1.34vw, 3.66rem);
//   --step-5: clamp(3.27rem, 2.89rem + 1.87vw, 4.58rem);
// }

:root {
  --font-xxs: clamp(0.58rem, 0.56rem + 0.09vw, 0.64rem);
  --font-xs: clamp(0.69rem, 0.66rem + 0.15vw, 0.8rem);
  --font-sm: clamp(0.83rem, 0.79rem + 0.24vw, 1rem);
  --font-base: clamp(1rem, 0.93rem + 0.36vw, 1.25rem);
  --font-md: clamp(1.2rem, 1.1rem + 0.52vw, 1.56rem);
  --font-lg: clamp(1.44rem, 1.29rem + 0.73vw, 1.95rem);
  --font-xl: clamp(1.73rem, 1.52rem + 1.02vw, 2.44rem);
  --font-2xl: clamp(2.07rem, 1.79rem + 1.4vw, 3.05rem);
  --font-3xl: clamp(2.49rem, 2.11rem + 1.9vw, 3.82rem);
}
