//  SHADOW VARIABLES

:root {
  --shadow-sm: 0 2px 4px -2px var(--color-grey-5);
  --shadow-md: 0 4px 8px -4px var(--color-grey-5);
  --shadow-lg: 0 6px 12px -8px var(--color-grey-5);
  --in-out-shadow: inset 0 0 0.75rem var(--color-grey-5),
    1px 1px 3px rgb(30 30 30 / 10%),
    -1px -1px 2px rgb(255 255 255 / 7%);
}
