:root {
  --space-3xs: clamp(0.25rem, 0.23rem + 0.09vw, 0.31rem);
  --space-2xs: clamp(0.5rem, 0.46rem + 0.18vw, 0.63rem);
  --space-xs: clamp(0.75rem, 0.7rem + 0.27vw, 0.94rem);
  --space-sm: clamp(1rem, 0.93rem + 0.36vw, 1.25rem);
  --space-md: clamp(1.5rem, 1.39rem + 0.54vw, 1.88rem);
  --space-lg: clamp(2rem, 1.86rem + 0.71vw, 2.5rem);
  --space-xl: clamp(3rem, 2.79rem + 1.07vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.71rem + 1.43vw, 5rem);
  --space-3xl: clamp(6rem, 5.57rem + 2.14vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.14rem + 0.54vw, 0.63rem);
  --space-2xs-xs: clamp(0.5rem, 0.38rem + 0.63vw, 0.94rem);
  --space-xs-sm: clamp(0.75rem, 0.61rem + 0.71vw, 1.25rem);
  --space-sm-md: clamp(1rem, 0.75rem + 1.25vw, 1.88rem);
  --space-md-lg: clamp(1.5rem, 1.21rem + 1.43vw, 2.5rem);
  --space-lg-xl: clamp(2rem, 1.5rem + 2.5vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.43rem + 2.86vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 3rem + 5vw, 7.5rem);

  /* Custom pairs */
  --space-sm-lg: clamp(1rem, 0.57rem + 2.14vw, 2.5rem);
}
