.service {
  background-color: var(--slate-4);
  box-shadow: var(--shadow-md);
}

.service__icon {
  background-color: var(--slate-12);
  color: var(--slate-1);
  padding: 0.5rem;
  border-radius: 50%;
}
