/*
  Circle Utility Class

  --circle-size variable for width and height because to make a circle we need equal size and height
  working with css variables is better than aspect ratio because is better in support
*/

.u_circle {
  width: var(--circe-size, 3rem);
  height: var(--circe-size, 3rem);
  flex: none;
  border-radius: 50%;
}
