.u_p {
  --c-1: var(--P1);
  --c-2: var(--P2);
  --c-3: var(--P3);
  --c-4: var(--P4);
  --c-5: var(--P5);
  --c-6: var(--P6);
  --c-7: var(--P7);
  --c-8: var(--P8);
  --c-9: var(--P9);
  --c-10: var(--P10);
  --c-11: var(--P11);
  --c-12: var(--P12);
}

.u_d {
  --c-1: var(--R1);
  --c-2: var(--R2);
  --c-3: var(--R3);
  --c-4: var(--R4);
  --c-5: var(--R5);
  --c-6: var(--R6);
  --c-7: var(--R7);
  --c-8: var(--R8);
  --c-9: var(--R9);
  --c-10: var(--R10);
  --c-11: var(--R11);
  --c-12: var(--R12);
}

.u_s {
  --c-1: var(--G1);
  --c-2: var(--G2);
  --c-3: var(--G3);
  --c-4: var(--G4);
  --c-5: var(--G5);
  --c-6: var(--G6);
  --c-7: var(--G7);
  --c-8: var(--G8);
  --c-9: var(--G9);
  --c-10: var(--G10);
  --c-11: var(--G11);
  --c-12: var(--G12);
}

.u_w {
  --c-1: var(--W1);
  --c-2: var(--W2);
  --c-3: var(--W3);
  --c-4: var(--W4);
  --c-5: var(--W5);
  --c-6: var(--W6);
  --c-7: var(--W7);
  --c-8: var(--W8);
  --c-9: var(--W9);
  --c-10: var(--W10);
  --c-11: var(--W11);
  --c-12: var(--W12);
}

.u_b {
  --c-1: var(--B1);
  --c-2: var(--B2);
  --c-3: var(--B3);
  --c-4: var(--B4);
  --c-5: var(--B5);
  --c-6: var(--B6);
  --c-7: var(--B7);
  --c-8: var(--B8);
  --c-9: var(--B9);
  --c-10: var(--B10);
  --c-11: var(--B11);
  --c-12: var(--B12);
}
