.u_p {
  --c-1: var(--p-1);
  --c-2: var(--p-2);
  --c-3: var(--p-3);
  --c-4: var(--p-4);
  --c-5: var(--p-5);
  --c-6: var(--p-6);
  --c-7: var(--p-7);
  --c-8: var(--p-8);
  --c-9: var(--p-9);
  --c-10: var(--p-10);
  --c-11: var(--p-11);
  --c-12: var(--p-12);
}

.u_d {
  --c-1: var(--r-1);
  --c-2: var(--r-2);
  --c-3: var(--r-3);
  --c-4: var(--r-4);
  --c-5: var(--r-5);
  --c-6: var(--r-6);
  --c-7: var(--r-7);
  --c-8: var(--r-8);
  --c-9: var(--r-9);
  --c-10: var(--r-10);
  --c-11: var(--r-11);
  --c-12: var(--r-12);
}

.u_s {
  --c-1: var(--g-1);
  --c-2: var(--g-2);
  --c-3: var(--g-3);
  --c-4: var(--g-4);
  --c-5: var(--g-5);
  --c-6: var(--g-6);
  --c-7: var(--g-7);
  --c-8: var(--g-8);
  --c-9: var(--g-9);
  --c-10: var(--g-10);
  --c-11: var(--g-11);
  --c-12: var(--g-12);
}

.u_w {
  --c-1: var(--w-1);
  --c-2: var(--w-2);
  --c-3: var(--w-3);
  --c-4: var(--w-4);
  --c-5: var(--w-5);
  --c-6: var(--w-6);
  --c-7: var(--w-7);
  --c-8: var(--w-8);
  --c-9: var(--w-9);
  --c-10: var(--w-10);
  --c-11: var(--w-11);
  --c-12: var(--w-12);
}

.u_b {
  --c-1: var(--b-1);
  --c-2: var(--b-2);
  --c-3: var(--b-3);
  --c-4: var(--b-4);
  --c-5: var(--b-5);
  --c-6: var(--b-6);
  --c-7: var(--b-7);
  --c-8: var(--b-8);
  --c-9: var(--b-9);
  --c-10: var(--b-10);
  --c-11: var(--b-11);
  --c-12: var(--b-12);
}
