.u_p {
  --C1: var(--P1);
  --C2: var(--P2);
  --C3: var(--P3);
  --C4: var(--P4);
  --C5: var(--P5);
  --C6: var(--P6);
  --C7: var(--P7);
  --C8: var(--P8);
  --C9: var(--P9);
  --C10: var(--P10);
  --C11: var(--P11);
  --C12: var(--P12);
}

.u_d {
  --C1: var(--R1);
  --C2: var(--R2);
  --C3: var(--R3);
  --C4: var(--R4);
  --C5: var(--R5);
  --C6: var(--R6);
  --C7: var(--R7);
  --C8: var(--R8);
  --C9: var(--R9);
  --C10: var(--R10);
  --C11: var(--R11);
  --C12: var(--R12);
}

.u_s {
  --C1: var(--G1);
  --C2: var(--G2);
  --C3: var(--G3);
  --C4: var(--G4);
  --C5: var(--G5);
  --C6: var(--G6);
  --C7: var(--G7);
  --C8: var(--G8);
  --C9: var(--G9);
  --C10: var(--G10);
  --C11: var(--G11);
  --C12: var(--G12);
}

.u_w {
  --C1: var(--W1);
  --C2: var(--W2);
  --C3: var(--W3);
  --C4: var(--W4);
  --C5: var(--W5);
  --C6: var(--W6);
  --C7: var(--W7);
  --C8: var(--W8);
  --C9: var(--W9);
  --C10: var(--W10);
  --C11: var(--W11);
  --C12: var(--W12);
}

.u_b {
  --C1: var(--B1);
  --C2: var(--B2);
  --C3: var(--B3);
  --C4: var(--B4);
  --C5: var(--B5);
  --C6: var(--B6);
  --C7: var(--B7);
  --C8: var(--B8);
  --C9: var(--B9);
  --C10: var(--B10);
  --C11: var(--B11);
  --C12: var(--B12);
}
