.u_direction-column {
  flex-direction: column;
}

.u_wrap-wrap {
  flex-wrap: wrap;
}

.u_flex-none {
  flex: none;
}

.u_flex-1 {
  flex: 1;
}

.u_flex-2 {
  flex: 2;
}

.u_flex-auto {
  flex: auto;
}

.u_flex {
  display: flex;
}

.u_flex-inline {
  display: inline-flex;
}
