// FONT SIZE STYLE SECTION START
.Fs-1 {
  font-size: clamp(0.51rem, calc(0.49rem + 0.08vw), 0.58rem);
}

.Fs-2 {
  font-size: clamp(0.61rem, calc(0.59rem + 0.09vw), 0.69rem);
}

.Fs-3 {
  font-size: clamp(0.73rem, calc(0.71rem + 0.11vw), 0.83rem);
}

.Fs-4 {
  font-size: clamp(0.88rem, calc(0.85rem + 0.14vw), 1rem);
}

.Fs-5 {
  font-size: clamp(1.05rem, calc(1.02rem + 0.16vw), 1.2rem);
}

.Fs-6 {
  font-size: clamp(1.26rem, calc(1.22rem + 0.19vw), 1.44rem);
}

.Fs-7 {
  font-size: clamp(1.51rem, calc(1.47rem + 0.23vw), 1.73rem);
}

.Fs-8 {
  font-size: clamp(1.81rem, calc(1.76rem + 0.28vw), 2.07rem);
}

.Fs-9 {
  font-size: clamp(2.18rem, calc(2.11rem + 0.34vw), 2.49rem);
}

// FONT SIZE STYLE SECTION END

.Fw-1 {
  font-weight: 100;
}

.Fw-2 {
  font-weight: 200;
}

.Fw-3 {
  font-weight: 300;
}

.Fw-4 {
  font-weight: 400;
}

.Fw-5 {
  font-weight: 500;
}

.Fw-6 {
  font-weight: 600;
}

.Fw-7 {
  font-weight: 700;
}

.Fw-8 {
  font-weight: 800;
}

.Fw-9 {
  font-weight: 900;
}

.Fsy-italic {
  font-style: italic;
}

.Fsy-oblique {
  font-style: oblique;
}
