// Spacing Style Section Start
.u_sp-2xs {
  gap: clamp(2px, calc(1.2px + 0.27vw), 4px);
}

.u_sp-xs {
  gap: clamp(4px, calc(2.4px + 0.49vw), 8px);
}

.u_sp-sm {
  gap: clamp(6px, calc(3.68px + 0.73vw), 12px);
}

.u_sp-md {
  gap: clamp(8px, calc(4.8px + 0.98vw), 16px);
}

.u_sp-lg {
  gap: clamp(12px, calc(7.3px + 1.46vw), 24px);
}

.u_sp-xl {
  gap: clamp(16px, calc(9.76px + 1.95vw), 32px);
}

.u_sp-2xl {
  gap: clamp(24px, calc(14.5px + 2.93vw), 48px);
}

.u_sp-3xl {
  gap: clamp(32px, calc(19.52px + 3.9vw), 64px);
}

// Spacing Style Section End

.u_mt-auto {
  margin-top: auto;
}
