/* Text Alignment Section Style Start */
.u_align-center {
  text-align: center;
}

.u_align-start {
  text-align: start;
}

.u_align-end {
  text-align: end;
}

/* Text Alignment Section Style End */

/* Text Transform Section Style Start */
.u_uppercase {
  text-transform: uppercase;
}

.u_lowercase {
  text-transform: lowercase;
}

.u_capitalize {
  text-transform: capitalize;
}

/* Text Transform Section Style End */
