/* Text Alignment Section Style Start */
.u_align-center {
  text-align: center;
}

.u_align-start {
  text-align: start;
}

.u_align-end {
  text-align: end;
}

/* Text Alignment Section Style End */

/* Text Transform Section Style Start */
.u_transform__uppercase {
  text-transform: uppercase;
}

.u_transform__lowercase {
  text-transform: lowercase;
}

.u_transform__capitalize {
  text-transform: capitalize;
}

.u_transform__first-letter-only::first-letter {
  text-transform: uppercase;
}

/* Text Transform Section Style End */
