.a-v-cnt {
  color: white;
  overflow: hidden;
  border: var(--P9) 3px solid;
}

.a-v,
.a-v__flb {
  width: 95%;
  height: 95%;
  object-fit: cover;
}

.a-v__flb {
  background: var(--C9);
  border: 1px solid transparent;
  font-weight: bold;
}

/* Avatar Size Section Style Start */

.a-v_sm {
  --av-s: 0.75em;
}

.a-v_md {
  --av-s: 1.5em;
}

.a-v_lg {
  --av-s: 4em;
}

/* Avatar Size Section Style End */
