.avatar-wrapper {
  color: white;
  overflow: hidden;
}

.avatar,
.avatar__fallback {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar__fallback {
  background-image: linear-gradient(
    to bottom right,
    var(--color-shared-7),
    var(--color-shared-9)
  );
  border: 1px solid transparent;
  font-weight: bold;
}

/* Avatar Size Section Style Start */

.avatar--xs {
  --avatar-size: 0.75rem;
}

.avatar--sm {
  --avatar-size: 1em;
}

.avatar--md {
  --avatar-size: 1.5em;
}

.avatar--lg {
  --avatar-size: 2.5em;
}

.avatar--xl {
  --avatar-size: 4em;
}

.avatar--2xl {
  --avatar-size: 5em;
}

.avatar--3xl {
  --avatar-size: 7em;
}

/* Avatar Size Section Style End */
