.n-f {
  height: calc(100vh - 5rem);
}

.n-f-cnt {
  max-width: 60ch;
}

.n-f-lst {
  justify-content: space-between;
  list-style: none;
}

.n-f-txt {
  text-decoration: underline;
  color: var(--P11);
}
