.n-f {
  height: calc(100vh - 5rem);
}

.n-f-cnt {
  max-width: 60ch;
}

.n-f-nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.n-f-itm {
  position: relative;
  list-style: none;
  color: var(--p-11);
}

.n-f-txt {
  position: relative;
  letter-spacing: 0.8px;
  text-decoration: underline;
}
