@use "../../../scss/settings/media" as *;

.h-e {
  position: sticky;
  top: 0;
  left: 0;
  height: 4rem;
  padding: 0 3.5vw;
  z-index: 2;
  background: var(--B1);
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  box-shadow: var(--shadow-md);
}
.h-e-logo {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--P12);
}
.h-e-nav {
  align-self: stretch;
}

.h-e-lst,
.h-e-itm:not([data-mobile="true"]),
.h-e-lnk {
  height: 100%;
  min-width: 4rem;
}

.h-e-itm {
  padding: 0 0.25rem;
}

.h-e-lnk {
  padding: 0 1rem;
  overflow: hidden;
  position: relative;
  height: 100%;
  transition: transform 100ms;

  &:focus {
    box-shadow: inset 0 0 1rem -2px var(--P7);
  }

  &[data-mobile="true"] {
    padding: 1.5rem;
    width: fit-content;
  }

  &:not([data-mobile="true"])::after {
    --sz: 3px;

    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--sz);
    background-image: linear-gradient(to right, var(--P8), var(--P10));
    transform: translateX(-105%);
    transition: transform 0.4s ease-in-out;
    border-radius: var(--sz);
  }

  // &:hover {
  //   transform: scale(0.9) translateY(0.2rem);
  // }

  &:hover::after,
  &[aria-current="page"]::after,
  &:focus::after {
    transform: translateX(0);
  }

  &[aria-current="page"] {
    color: var(--P11);
  }
}

:is(.h-e-lst, .h-e-lstM):has(:hover) .h-e-lnk:not(:hover) {
  transform: scale(0.9) translateY(0.2rem);
}

.h-e-mob {
  display: none;
  opacity: 0;
  transform: rotate(90deg);
  transition:
    transform 0.25s,
    opacity 0.25s;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transform-origin: left top;
  z-index: 1;
  padding: 1.5rem;
  background: var(--B1);

  &[data-visible="true"] {
    flex-direction: column;
    opacity: 1;
    transform: translateX(0);
    transition:
      transform 0.3s,
      opacity 0.2s;
    display: none;
  }
}

[data-mobile="true"] {
  .h-e-lnk {
    justify-content: flex-start !important;
  }
}

.h-e-tog {
  display: none !important;
}

@media (max-width: $screen-phone-large) {
  .h-e-tog {
    display: flex !important;
  }

  .h-e-mob[data-visible="true"] {
    display: flex;
  }
}
