.prose {
  --sh-class: var(--p-11);
  --sh-identifier: var(--g-11);
  --sh-sign: var(--b-11);
  --sh-property: var(--p-10);
  --sh-entity: var(--w-11);
  --sh-jsxliterals: var(--w-11);
  --sh-string: var(--g-10);
  --sh-keyword: var(--r-11);
  --sh-comment: var(--b-9);

  & :is(ul, ol) > * + * {
    margin-top: var(--sp-2xs);
  }

  ul,
  ol {
    margin-left: 0.5rem;
  }

  strong {
    font-weight: 600;
  }
}

pre:has(.code--section) {
  background-color: var(--b-3);
  padding: 1rem;
  font-size: 0.925rem;
  overflow: auto;
  max-height: 80vh;
}

.code--section {
  max-width: 100%;
  counter-reset: sh-line-number;
  font-family: 'dank mono', 'operator mono', inconsolata, 'fira mono',
    ui-monospace, 'sf mono', monaco, 'droid sans mono',
    'source code pro', monospace;
}

.sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  margin-inline-end: 1.25rem;
  color: hsl(0deg 0% 64%);
  font-size: 0.875rem;
}

.sh__line {
  border-inline-start: 4px solid transparent;
  line-height: 1.75;
}
