.tag {
  --t-s: 0.35em;
  --t-p: 0.125rem;

  color: var(--B12);
  width: fit-content;
  padding: 0.35em 1em;
  border-radius: 0.25em;
  letter-spacing: 0.75px;
  position: relative;
  line-height: 1;
  background: var(--C6);
  border: 1px solid var(--C9);
  box-shadow: 0 2px 8px -4px var(--B4);
  font-size: 0.65rem;
  font-weight: 500;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: var(--t-p);
    background: var(--B1);
    width: var(--t-s);
    height: var(--t-s);
    border-radius: 50%;
  }

  &::after {
    right: var(--t-p);
  }
  &::before {
    left: var(--t-p);
  }
}
