.tag {
  --t-s: 0.375em;
  --t-p: 0.125rem;

  color: white;
  width: fit-content;
  padding: 0.375em 1em;
  border-radius: 0.25em;
  letter-spacing: 0.75px;
  position: relative;
  line-height: 1;
  background: var(--c-9);
  font-size: 0.75rem;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: var(--t-p);
    background: white;
    width: var(--t-s);
    height: var(--t-s);
    border-radius: 50%;
  }

  &::after {
    right: var(--t-p);
  }
  &::before {
    left: var(--t-p);
  }
}
