.tag {
  color: var(--color-grey-100);
  width: fit-content;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  line-height: 1.5;
  background-color: var(--shared-color-400);
  // box-shadow: var(--shadow-sm);
}

.tag::before,
.tag::after {
  content: '';
  position: absolute;
  top: 0.125rem;
  background: currentColor;
  width: 0.375em;
  height: 0.375em;
  border-radius: 50%;
}

.tag::after {
  right: 0.125rem;
}

.tag::before {
  left: 0.125rem;
}

/* Tag Color Section Style Start  */
.tag--sm {
  font-size: 0.625rem;
}
.tag--md {
  font-size: 0.75rem;
}
.tag--lg {
  font-size: 0.875rem;
}
/* Tag Color Section Style End  */
