.pr-c {
  width: 100px;
  height: 100px;
}

.pr-c-bg {
  fill: none;
  stroke: var(--B6);
  stroke-width: 8px;
}

.pr-c-amt {
  fill: none;
  stroke: var(--C9);
  stroke-width: 4px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.3s ease;
}

.pr-c-txt {
  font-size: 1.25rem;
  fill: var(--B12);
  font-weight: 600;
}
