.project {
  overflow: hidden;
}

.project--image {
  width: 100%;
  object-fit: cover;
}

.project--image-container {
  margin: -1rem;
  margin-bottom: 0;
}

.project--info {
  background-color: red;
  flex: 1;
}

.project--link {
  color: var(--color-grey-9);
  cursor: pointer;
}

.project--link:hover {
  color: var(--color-primary-3);
}

.project--technologies {
  margin-top: auto;
}
