.p-co {
  min-height: 75vh;
}

.p-co-info,
.p-co-form {
  flex: 0 1 50%;
  padding: var(--sp-xs);
  display: flex;
  flex-direction: column;
}

.p-co-info {
  background-color: var(--B4);
  top: 5rem;
  display: flex;
  justify-content: center;
}

.p-co-info-item[data-link='true'] {
  color: var(--P11);
  text-decoration: underline 2px solid;
  text-underline-offset: 3px;
  transition: transform 150ms;

  &:hover {
    transform: translateY(-2px) scale(1.02);
  }
}

@media (width <= 700px) {
  .p-co {
    flex-direction: column;
  }
}
