.container {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
.container,
.left {
  min-height: calc(100vh - var(--shared-value));
}
.left,
.right {
  flex: 0 1 50%;
  padding: var(--spacing-lg);
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}

.left {
  background-color: var(--color-background-light);
  position: sticky;
  top: 5rem;
}

.itemInfo {
  display: flex;
  align-items: center;
  margin: var(--spacing-md) 0;
  padding: var(--spacing-md) var(--spacing-sm);
  border-radius: 1rem;
  width: fit-content;
}

.infoParagraph {
  margin-left: var(--spacing-lg);
}
.titleContainer {
  margin: var(--spacing-md);
}

.heading {
  text-transform: uppercase;
  text-decoration: underline var(--color-primary-light);
  margin-bottom: var(--spacing-sm);
  font-size: 3rem;
}

.socialContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.right {
  background-color: var(--color-background-main);
  align-items: flex-start;
}
.inputContainer {
  width: 100%;
}

.form {
  width: 100%;
}
@media (max-width: 900px) {
  .container {
    padding: 0;
  }
  .left,
  .right {
    padding: 0 var(--spacing-sm);
  }
  .socialContainer {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .left,
  .right {
    padding: var(--spacing-md) var(--spacing-sm);
  }
  .socialContainer {
    width: 70%;
    padding: var(--spacing-md) 0;
  }
  .infoContainer {
    padding: var(--spacing-sm) 0;
  }
  .itemInfo {
    margin: var(--spacing-sm) 0;
    padding: var(--spacing-sm) var(--spacing-md);
    border: 1px solid transparent;
    border-radius: 0.5rem;
  }
  .itemInfo:hover {
    border-width: 1px;
  }
  .infoParagraph {
    margin-left: var(--spacing-sm);
  }
  .left {
    position: static;
  }
}
