@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');
:root {
  --spacing-XXS: 0.1rem;
  --spacing-XS: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-XL: 3rem;
  --spacing-XXL: 5rem;

  --shared-value: 5rem;

  --color-background-dark: #1c1c1c;
  --color-background-main: #303030;
  --color-background-light: #444444;

  /* --color-primary-light: #b759ee;
  --color-primary-main: #a734ea;
  --color-primary-dark: #69109d; */
  --color-primary-light: #08b1ff;
  --color-primary-main: #1486bb;
  --color-primary-dark: #176285;
  --color-primary-opacity: #2691c269;

  --info-color-light: #15b4df;
  --info-color-main: #005bea;
  --info-color-dark: #1b3585;
  --info-color-disable: #dcf8fe;

  --danger-color-light: #f67389;
  --danger-color-main: #f94967;
  --danger-color-dark: #a83447;
  --danger-color-disable: #ffe6e2;

  --warning-color-light: #efa55e;
  --warning-color-main: #f76b2e;
  --warning-color-dark: #9b421c;
  --warning-color-disable: #ffe6e2;

  --success-color-light: #46d4a6;
  --success-color-main: #029666;
  --success-color-dark: #036344;
  --success-color-disable: #d7f8f6;

  --color-secondary: rgb(249, 250, 251);
  --color-text: #fef;
  --hr: var(--color-background-dark);
  --color-shadow: 0 0 15px 1px var(--hr);
  --color-shadow-light: 0 0 15px 1px var(--color-background-light);
  --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);

  --radius-small: 0.8rem;
  --radius-medium: 1.5rem;
  --radius-large: 2rem;
}
@media (max-width: 410px) {
  :root {
    --spacing-sm: 0.25rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 16px;
  height: 100%;
}
@media (max-width: 800px) {
  html {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 0.9rem;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 0.85rem;
  }
}
body {
  box-sizing: border-box;
  color: var(--color-text);
  background-color: var(--color-background-main);
  -webkit-font-smoothing: antialiased;
  font-family: 'Hepta Slab', sans-serif;
  font-weight: 300;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background: var(--color-background-light);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
  outline: 1px solid slategrey;
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}
body.light {
  --color-background-main: #fdfdfd;
  --color-background-light: #ffffff;
  /* --color-primary-light: #7b0dbf; */
  --color-primary-light: #9154b7;
  --color-primary-main: #653a80;
  --color-primary-dark: #482a5b;
  --color-text: #060803;
  --hr: hsla(0, 50%, 0%, 0.2);
  --color-shadow: 0 0 5px 1px var(--hr);
  --form-shadow: 0 2px 15px 0 rgba(210, 214, 220, 0.5);
}

body.dark {
  /* --color-background-main: #02010a;
    --color-background-light: #06031c; */
}

a {
  font-family: 'Hepta Slab', sans-serif;
  text-decoration: none;
  color: var(--color-text);
  font-variation-settings: 'wght' 200;
}
ul {
  font-family: 'Hepta Slab', sans-serif;
  list-style: none;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hepta Slab', sans-serif;
  font-weight: 700;
}

code {
  padding: 2px 4px;
  background: #f4f3fa;
  color: red;
  border-radius: 3px;
}
a > code {
  color: red;
}
pre {
  background-color: #061526;
  border-radius: 4px;
  font-size: 16px;
  padding: 10px;
  overflow-x: auto;
  /* Track */
}
pre ::-webkit-scrollbar {
  width: 100%;
  height: 5px;
  border-radius: 0 0 5px 5px;
}
pre ::-webkit-scrollbar-track {
  background: #061526;
  border-radius: 0 0 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
/* Handle */
pre ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
blockquote {
  border-right: unset;
  border-left: 0.32813rem solid red;
  padding-left: 1.42188rem;
  padding-right: unset;
  margin-right: 0.75rem;
  margin-left: -1.75rem;
}
.highlight-line {
  background-color: rgba(201, 167, 255, 0.2);
  margin: 0 -10px;
  padding: 0 5px;
  border-left: 5px solid #c9a7ff;
}

p {
  font-family: 'Hepta Slab', serif;
  font-weight: 300;
  line-height: 1.65;
}
