:root {
  --spacing-XXS: 0.1rem;
  --spacing-XS: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-XL: 3rem;
  --spacing-XXL: 5rem;

  --shared-value: 5rem;

  --color-background-dark: #c5c5c5;
  --color-background-main: #e4e4e4;
  --color-background-light: #f1f1f1;

  /* --color-primary-light: #b759ee;
  --color-primary-main: #a734ea;
  --color-primary-dark: #69109d; */

  --color-primary-light: #5973e7;
  --color-primary-main: #1a3199;
  --color-primary-dark: #051d85;

  --danger-color: #a83447;

  --warning-color: #6d2100;

  --success-color: #036344;

  --purple-color: #630193;

  --blue-color: #12778b;

  --yellow-color: #e6db74;

  --color-secondary: #333;
  --color-text: #333;

  --hr: var(--color-background-dark);
  --color-shadow: 0 0 15px 1px var(--hr);
  --color-shadow-light: 0 0 15px 1px var(--color-background-light);
  --form-shadow: 0 2px 15px 0 rgba(26, 26, 27, 0.637);

  --radius-small: 0.8rem;
  --radius-medium: 1.5rem;
  --radius-large: 2rem;
}
@media (max-width: 410px) {
  :root {
    --spacing-sm: 0.25rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
  }
}

[data-theme='dark'] {
  --color-background-dark: #1c1c1c;
  --color-background-main: #303030;
  --color-background-light: #444444;

  --color-primary-light: #08b1ff;
  --color-primary-main: #1486bb;
  --color-primary-dark: #176285;

  --blue-color: #0194b0;

  --purple-color: #c894f0;

  --success-color: #46d4a6;

  --danger-color: #f68ffe;

  --warning-color: #fd8551;

  --yellow-color: #e6db74;

  --color-secondary: rgb(249, 250, 251);
  --color-text: #fef;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 16px;
  height: 100%;
  /* cursor: none; */
}

body {
  box-sizing: border-box;
  color: var(--color-text);
  background-color: var(--color-background-main);
  -webkit-font-smoothing: antialiased;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  height: 100%;
  font-size: 1.1rem;
}

body::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background: var(--color-background-light);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-primary-light);
  outline: 1px solid slategrey;
  border-radius: 2px;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-dark);
}

a {
  text-decoration: none;
  color: var(--danger-color-main);
  box-shadow: inset 0 -5px 0 1px var(--color-tex),
    inset 0 -8px 0 1px red;
}
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;

  letter-spacing: 1px;
  margin: 0;
  margin-top: 0.5rem;
}

input,
textarea,
select,
button {
  font: inherit;
}

code {
  background: var(--color-background-dark);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

::selection {
  background-color: var(--danger-color-main);
  text-shadow: none;
}
blockquote {
  border-left: 0.32813rem solid var(--color-primary-light);
  margin: 1rem 0;
  padding-left: 1rem;
  font-weight: 400;
  font-size: 1.1rem;
}
.highlight-line {
  background-color: rgba(201, 167, 255, 0.2);
  margin: 0 -10px;
  padding: 0 5px;
  border-left: 5px solid #c9a7ff;
}

p {
  line-height: 1.65;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articleContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(100%, 16rem), 1fr)
  );
  grid-gap: 2vw;
  padding: 2rem 10vw;
}
