.container {
  display: grid;
}
.section {
  padding: 5vmin 5vw;
  font-size: 1rem;
  background: var(--color-background-main);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section:nth-child(odd) {
  background-color: var(--color-background-main);
}
.section:nth-child(even) {
  background-color: var(--color-background-dark);
}

/* .section:nth-child(odd) {
  background: var(--color-background-light);
} */

@media (max-width: 800px) {
  .section {
    font-size: 0.7rem;
  }
}

.heading {
  font-size: 2em;
  word-spacing: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: transparent;
  background: -webkit-linear-gradient(
    var(--color-primary-light),
    var(--color-primary-light),
    var(--color-primary-main),
    var(--color-primary-light),
    var(--color-primary-light),
    var(--color-primary-main)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1em;
}
