.container {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 40rem;
  height: 25rem;
  border-radius: 0.2rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content > h1 {
  font-size: 40vmin;
  font-weight: 800;
}
.content > h3 {
  font-size: 5vmin;
  font-weight: 700;
}

.map::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  width: 101%;
  height: 200%;
  transform: translateY(-50%);
  background: transparent;
  border-top: 3px dashed red;
  border-radius: 100%;
}

.mapContent {
  margin: auto;
  align-items: center;
  display: flex;
  height: 10rem;
  width: 70%;
}

.mapContent > li {
  display: flex;
  flex: 1 0;
  height: 50%;
}
.mapContent > span {
  margin-left: 1rem;
}
