.container {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.readingContent {
  margin-top: 0.5rem;
  width: 60%;
}

.blogImageContainer {
  width: 100%;
  height: 70vh;
  max-height: 20rem;
  background-color: red;
  margin-bottom: 2rem;
}

.blogImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.authorImageContainer {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
  max-height: 20rem;
  background-color: red;
}

.authorImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.infoAndDateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.infoAndDate {
  display: flex;
  align-items: center;
}
.authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
}

.mediaList {
  display: flex;
}
.mediaItem {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(196, 27, 27, 0.2);
}
.mediaItem:not(:last-child) {
  margin-right: 0.5rem;
}
.authorName {
  font-size: 0.8rem;
  word-spacing: 2px;
  letter-spacing: 0.6px;
  font-variation-settings: 'wght' 400;
  text-transform: uppercase;
}
.titleContainer {
  margin: 2rem auto;
  width: 100%;
  font-variation-settings: 'wght' 800;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.title {
  text-align: center;
}

@media (max-width: 800px) {
  .readingContent {
    width: 75%;
  }
}

@media (max-width: 468px) {
  .readingContent {
    width: 90%;
  }
}
