.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 4rem;
  padding: 0 3vw;
  z-index: 2;
  background-color: var(--slate-3);
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.6px;
  border-bottom: 1px solid var(--slate-6);
  text-transform: uppercase;
}

.header--logo-link {
  cursor: pointer;
}

.header--nav {
  align-self: stretch;
}

.header--list,
.header--item:not([data-mobile='true']),
.header--item-link {
  height: 100%;
}

.header--item {
  padding: 0 0.25rem;
}

.header--item-link {
  padding: 0 1rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  height: 100%;

  &:focus {
    box-shadow: inset 0 0 1rem -2px var(--primary-7);
  }

  &:not([data-mobile='true'])::after {
    --height: 3px;

    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--height);
    background-image: linear-gradient(
      to right,
      var(--primary-8),
      var(--primary-10)
    );
    transform: translateX(-105%);
    transition: transform 0.4s ease-in-out;
    border-radius: var(--height);
  }

  &:hover::after,
  &[aria-current='page']::after,
  &:focus::after {
    transform: translateX(0);
  }

  &[aria-current='page'] > .itemLink {
    color: var(--primary-5);
  }
}

.header--mobile {
  display: none;
  opacity: 0;
  transform: rotate(90deg);
  transition: transform 0.25s, opacity 0.25s;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transform-origin: left top;
  background-color: var(--slate-2);
  z-index: 1;
}

.header--mobile[data-visible='true'] {
  display: flex;
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.3s, opacity 0.2s;
}

.header--mobile-list {
  height: 100%;
}

.header--close-button {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.menuMobileIcon {
  display: none;
  color: currentcolor;
}

@media (max-width: 600px) {
  .header--nav {
    display: none;
  }

  .menuMobileIcon {
    display: inline-block;
  }
}
