.cursor {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  z-index: 99999;
  opacity: 1;
  mix-blend-mode: difference;
  transition: transform 100ms ease, opacity 100ms ease;
}

.outer {
  border: 2px solid var(--danger-color-main);
  background: var(--color-background-main);
}
.inner {
  background-color: var(--danger-color-main);
  width: 0.5rem;
  height: 0.5rem;
}

.cursorHidden {
  opacity: 0;
}
.cursorClicked {
  transform: translate(-50%, -50%) scale(2);
  background-color: #fefefe;
}
.cursorLinkHovered {
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #fefefe;
}
