.svg-chart {
  position: relative;
  max-width: 90px;
  min-width: 40px;
}

.circle-chart--stroke {
  fill: none;
  stroke-width: 1.2;
  stroke: var(--color-grey-500);
}

.circle-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle-chart--progress {
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
  stroke: var(--shared-color-500);
}

.circle-chart--text {
  fill: var(--color-grey-1000);
  font-size: 0.4rem;
  text-anchor: middle;
  font-weight: 400;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
