.chartSvg {
  position: relative;
  max-width: 90px;
  min-width: 40px;
}

.circleBg {
  fill: none;
  stroke-width: 1.2;
  stroke: var(--color-background-main);
}

.circularChart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pink .circle {
  stroke: pink;
}
.orange .circle {
  stroke: #daa45c;
}
.purple .circle {
  stroke: purple;
}
.red .circle {
  stroke: red;
}
.green .circle {
  stroke: green;
}
.yellow .circle {
  stroke: yellow;
}

.circle {
  fill: none;
  stroke-width: 1.6;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

.percentage {
  fill: var(--color-text);
  font-size: 0.4rem;
  text-anchor: middle;
  font-weight: 400;
  color: white;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
