.formElement {
  position: relative;
  margin: 1.5rem 0.5rem;
}
.formElementContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.label {
  margin-bottom: 0.2rem;
  font-weight: 500;
}

.input:focus {
  border-bottom: 0.2rem solid var(--color-primary-light);
}

.messageContainer {
  position: absolute;
  left: 0;
  top: 80%;
  height: 40%;
  width: 100%;
}
.abbr {
  color: rgb(201, 44, 44);
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 0.5rem;
  text-decoration: none;
}

.message {
  color: rgb(201, 44, 44);
  font-size: 0.75rem;
}
