/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@use '../../../scss/settings/media' as *;

.g-r {
  --columns: var(--regular-columns);
  --rows: var(--regular-rows);
  --areas: var(--regular-areas);

  display: grid;
  grid-template-columns: var(--columns);
  grid-template-rows: var(--rows);
  grid-template-areas: var(--areas);
}

.g-r-itm {
  grid-column: var(--column);
  grid-row: var(--row);
}

.g-r_xs {
  gap: 0.25rem;
}

.g-r_sm {
  gap: 0.5rem;
}

.g-r_md {
  gap: 0.75rem;
}

.g-r_lg {
  gap: 1rem;
}

.g-r_xl {
  gap: 1.5rem;
}
