.resume--aside {
  padding: 1rem;
  border-inline-end: 1px solid var(--opacity-6);
}

.resume--header {
  border-block-end: 1px solid var(--opacity-6);
  padding: 2rem;
}

.education--article {
  padding: 1rem 0;

  &:not(:last-child) {
    border-bottom: 1px solid var(--opacity-6);
  }
}

.education--date {
  line-height: 2.5;
}
