.re- {
  --Rb: 1px solid var(--O6);
}

.re-A {
  padding: 1rem;
  border-right: var(--Rb);
}

.re-H {
  border-bottom: var(--Rb);
  padding: 2rem;
}

.re-L {
  list-style: none;
  padding-left: 0.5rem;
}

.re-E {
  padding: 1rem 0;

  &:not(:last-child) {
    border-bottom: var(--Rb);
  }
}

.re-D {
  line-height: 2.5;
}
