.r-e {
  --Rb: 1px solid var(--O6);
}

.r-e-asd {
  padding: 1rem;
  border-right: var(--Rb);
}

.r-e-hdr {
  border-bottom: var(--Rb);
  padding: 2rem;
}

.r-e-lst {
  list-style: none;
  padding-left: 0.5rem;
}

.re-e {
  padding: 1rem 0;

  &:not(:last-child) {
    border-bottom: var(--Rb);
  }
}

.r-e-d {
  line-height: 2.5;
}
