.l_f_3xs > * + * {
  margin-top: var(--sp-3xs);
}

.l_f_2xs > * + * {
  margin-top: var(--sp-2xs);
}

.l_f_xs > * + * {
  margin-top: var(--sp-xs);
}

.l_f_sm > * + * {
  margin-top: var(--sp-sm);
}

.l_f_md > * + * {
  margin-top: var(--sp-md);
}

.l_f_lg > * + * {
  margin-top: var(--sp-lg);
}

.l_f_xl > * + * {
  margin-top: var(--sp-xl);
}

.l_f_2xl > * + * {
  margin-top: var(--sp-2xl);
}

.l_f_3xl > * + * {
  margin-top: var(--sp-3xl);
}
