.input-field--container {
  --icon-container-size: 2.5rem;

  position: relative;
  overflow: hidden;
  border: 2px solid var(--slate-6);
  border-radius: 0.25em;
}

.input-field--container:hover {
  border-color: var(--primary-8);
}

.input-field--container:focus-within {
  outline: 2px solid transparent;
  border-color: var(--slate-8);
}

.input-field--container[data-error='true'] {
  color: var(--red-8);
  border-color: var(--red-8);
}

.input-field {
  color: var(--slate-12);
  background: var(--slate-3);
  padding: 0.5em;
  width: 100%;
}

.input-field:not(.input__icon-exist) {
  padding: 0.5em 1rem;
}

.input__icon-exist {
  padding-inline-start: var(--icon-container-size);
}

.input-field--icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  top: 0;
  width: var(--icon-container-size);
  height: 100%;
  padding: 0.5rem 0;
}

.input-field[type] + .input-field--icon {
  align-items: center;
}

/*
==============================================================================================
  Form Container Style Section 
==============================================================================================
*/
.form-container {
  position: relative;
  padding-bottom: 1rem;
}

.form-container--label {
  font-weight: 500;

  --flow-gap: 0.5rem;
}

.form-container--message {
  position: absolute;
  left: 0;
  bottom: -0.625rem;
  width: 100%;
  z-index: 1;
  color: var(--red-9);
}

.form-container--abbr {
  color: var(--red-9);
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}
