.fi-C {
  --i-s: 2.5rem;

  position: relative;
  overflow: hidden;
  border: 2px solid var(--B6);
  border-radius: 0.375rem;
  font-size: 0;

  &:hover {
    border-color: var(--P8);
  }
  &:focus-within {
    outline: 2px solid transparent;
    border-color: var(--P8);
  }
  &[data-error="true"] {
    color: var(--R8);
    border-color: var(--R8);
  }
}

.fi- {
  color: var(--B12);
  background: var(--B3);
  padding: 0.5em;
  width: 100%;
  font-size: 1rem;

  &:not(.fi-I) {
    padding: 0.5em 1rem;
  }

  &[type] + .fic-I {
    align-items: center;
  }
}

.fi-I {
  padding-inline-start: var(--i-s);
}

.fic-I {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  top: 0;
  width: var(--i-s);
  height: 100%;
  padding: 0.5rem 0;
}

/*
==============================================================================================
  Form Container Style Section
==============================================================================================
*/
.fc- {
  position: relative;
  padding-bottom: 1rem;
}

.fc-L {
  font-weight: 500;
}

.fc-M {
  position: absolute;
  left: 0;
  bottom: -0.625rem;
  width: 100%;
  z-index: 1;
  color: var(--R9);
}

.fc-A {
  color: var(--R9);
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}
