.contact {
  min-height: 75vh;
}

.contact--info,
.contact--form {
  flex: 0 1 50%;
  padding: var(--space-sm-md);
  display: flex;
  flex-direction: column;
}

.contact--info {
  background-color: var(--slate-4);
  top: 5rem;
  display: flex;
  justify-content: center;

  --flow-gap: 2rem;
}

.contact--form {
  --flow-gap: 1rem;
}

.contact--heading {
  text-decoration: underline var(--color-primary-3);
  text-transform: uppercase;
  text-align: start;
}

.contact--description {
  max-width: min(60ch, 100%);
}

@media (max-width: 700px) {
  .contact {
    flex-direction: column;
  }
}
