.project {
  overflow: hidden;

  &:hover .project--link {
    text-decoration: underline;
    color: var(--primary-11);
  }
}

.project--image {
  width: 100%;
  object-fit: cover;
}

.project--image-container {
  margin: -1rem;
  margin-bottom: 0;
}

.project--info {
  flex: 1;
}

.project--link {
  color: var(--color-grey-9);
  cursor: pointer;
  gap: 0.25rem;
  align-items: center;
}

.project--link:hover {
  color: var(--color-primary-3);
}

.project--technologies {
  margin-top: auto;
}
