.h-pr {
  overflow: hidden;

  &:hover .h-pr-lnk {
    text-decoration: underline;
    color: var(--p-11);
  }
}

.h-pr-img {
  object-fit: cover;
}

.h-pr-imgC {
  margin: -1rem;
  margin-bottom: 0;
  position: relative;
  aspect-ratio: 2 / 1;
}

.h-pr-lnk {
  color: var(--p-11);
  gap: 0.25rem;
  transition: transform 150ms;

  &:hover {
    transform: scale(1.2) translateY(-2px) translateX(2px)
      rotate(3deg);
  }
}

.h-pr-tags {
  margin-top: auto;
}
