.article {
  box-shadow: var(--shadow-md);
  background: inherit;
  border-radius: var(--radius-small);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  --flow-gap: 1rem;
}
.article--button {
  margin-top: auto;
}

.article--image-wrapper {
  height: 15rem;
  overflow: hidden;
  position: relative;
  margin: -1rem;
}
.article--image-wrapper img {
  transform: scale(1);
  transition: transform 1s;
}
.article--image-wrapper:hover img {
  transform: scale(1.15);
}

.article--image-wrapper:hover .article--tags {
  transform: translateY(0);
}

.article--tags {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gutter-sm) * 0.5);
  transform: translateY(150%);
  transition: transform 1s;
}

.article--content {
  --flow-gap: 0.5rem;
  margin-bottom: var(--flow-gap);
}
.article--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding-top: 1rem;
}

.article--header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1rem;
}

.article--favorite {
  margin-left: auto;
}

.article--favorite[data-bookmark='true'] svg {
  fill: var(--color-danger-light);
  stroke: none;
}
