.article {
  display: flex;
  flex-direction: column;
}
.date {
  margin-top: 0.5rem;
  display: inline-block;
  font-size: 0.8rem;
}

.contentImage {
  height: 15rem;
  overflow: hidden;
  border-radius: 1em;
  position: relative;
}
.contentImage img {
  transform: scale(1);
  transition: transform 1s;
}
.contentImage:hover img {
  transform: scale(1.15);
}

.contentImage:hover .tagContainer {
  transform: translateY(0);
}

.tagContainer {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transform: translateY(150%);
  transition: transform 1s;
}

.tag {
  font-size: 0.8rem;
  padding: 0.3em 0.5em;
  margin: 0.2em;
  background-color: var(--color-background-main);
  font-variation-settings: 'wght' 500;
}
.contentInfo {
  margin-bottom: 1.5rem;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 1rem 0;
  font-variation-settings: 'wght' 800;
  letter-spacing: 1px;
  color: var(--color-primary-light);
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.button {
  margin-top: auto;
  text-align: center;
}
