.text {
  font-weight: var(--weight, inherit);
  text-transform: var(--transform, inherit);
  text-align: var(--align, inherit);
  hyphens: auto;
  max-width: 75ch;
}

/* Size Styles Section Start */
.text__caption {
  font-size: var(--font-xs);
  letter-spacing: 0.75px;
  --weight: normal;
}
.text__overline {
  letter-spacing: 1.5px;
  --transform: uppercase;
  font-size: var(--font-sm);
}
.text__body {
  letter-spacing: 0.75px;
  font-size: var(--font-sm);
}

.text__body2 {
  letter-spacing: 0.5px;
  font-size: var(--font-base);
}
.text__body3 {
  letter-spacing: 0.25px;
  font-size: var(--font-lg);
}
.text__subheading1 {
  font-size: var(--font-lg);
}
.text__subheading2 {
  font-size: var(--font-xl);
}
.text__display {
  font-size: var(--font-xl);
}
/* Size Styles Section End */

/* Size Styles Section Start */

.primary {
  color: var(--color-grey-100);
}

.secondary {
  color: var(--text-color-main);
}

.blue {
  color: var(--color-primary-main);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}
/* Size Styles Section End */

/* truncated Style Secion Start */

/* truncated Style Secion End */

/* truncated Style Secion Start */

.center {
  --align: center;
}

.start {
  --align: start;
}

.end {
  --align: end;
}

/* truncated Style Secion End */
