.t-y {
  color: var(--clr-txt);
  font-size: var(--typography-size, inherit);
  text-transform: var(--typography-transform, inherit);
}
.t-y_high {
  color: var(--c-12);
}

.t-y_low {
  color: var(--c-11);
}
.t-y_hdg {
  font-size: calc(var(--typography-size, 1rem) * 1.25);
}

.t-y_lnk {
  padding: 2px;
  text-decoration: none;
  color: var(--P11);
  &:hover {
    text-decoration: underline var(--P9) clamp(1px, 0.1em, 2px);
  }
  &:focus-visible {
    outline: 2px dashed var(--c-9);
  }
}
