.ty- {
  color: var(--clr-txt);
}
.ty-high {
  color: var(--C12);
}

.ty-low {
  color: var(--C11);
}
.ty-hdg {
  font-size: calc(var(--typography-size, 1rem) * 1.25);
}

.ty-lnk {
  padding: 2px;
  text-decoration: none;
  color: var(--P11);
  &:hover {
    text-decoration: underline var(--P9) clamp(1px, 0.1em, 2px);
  }
  &:focus-visible {
    outline: 2px dashed var(--C9);
  }
}
