.reading-layout {
  --center-content-width: 85ch;

  font-size: 1.25rem;
  font-weight: 200;
  padding: 1rem;
  padding-block-start: 3rem;
}

.reading-layout--list {
  list-style: none;
}

.reading-layout--link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--b-3);
  text-decoration: none;
  font-size: 1rem;

  &:hover {
    background-color: var(--b-5);
  }

  &.reading-layout--link__primary {
    background-color: red;
  }
}

.reading-layout--footer {
  border-top: 1px solid var(--b-6);
  padding: 2rem 0;
}

.reading-layout--avatar-container {
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
}

.reading-layout--avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.reading-layout--fallback {
  width: 10ch;
  height: 1rem;
  background-color: var(--b-10);
  border-radius: 0.25rem;
  position: relative;
  overflow: hidden;
  animation: loading 0.5s infinite;
}

@keyframes loading {
  50% {
    opacity: 0.5;
  }
  100% {
    transform: 1;
  }
}
