.alert {
  background-color: var(--color-shared-4);
  color: var(--color-shared-12);
  padding: var(--space-xs);
  border-inline-start: 0.25em solid var(--color-shared-11);
  margin-inline: auto;
}

.alert--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert[data-close='true'] {
  display: none;
}
