.a-l {
  background-color: var(--c-4);
  color: var(--c-12);
  padding: var(--sp-xs);
  border-inline-start: 0.25em solid var(--c-11);
  margin-inline: auto;

  &[data-close='true'] {
    display: none;
  }
}

.a-l-hdr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
