.container {
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--shared-value);
  padding: 0 3vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: var(--color-background-main);
  box-shadow: var(--color-shadow);
  grid-area: header;
  font-weight: 500;
  font-size: 1rem;
}

.header a {
  color: var(--color-text);
}

.logoContent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.name {
  font-size: 1.5em;
  text-transform: capitalize;
}

.extension {
  font-size: 1em;
  align-self: flex-end;
  text-transform: lowercase;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 100%;
  flex: 0 0 45%;
  align-self: stretch;
}
.item {
  position: relative;
  margin: 0 0.25em;
  overflow: hidden;
  padding: 0 0.2rem;
}

.item:not(.mobile) {
  height: 100%;
}
.rightSide {
  display: flex;
  justify-content: space-between;
}
.mobile.item {
  font-size: 2rem;
  margin-bottom: 1.25em;
  font-weight: 600;
  letter-spacing: 1px;
}
.mobile.item:hover {
  color: var(--color-primary-light);
}

.item:not(.mobile)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-main)
  );
  transform: translateX(-101%);
  transition: transform 0.4s ease-in-out;
}

.item:hover::after,
.item.activeLink::after {
  transform: translateX(0);
}

.activeLink > .itemLink {
  color: var(--color-primary-light);
}

.itemLink {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1em;
  padding: 0 1rem;
  outline: none;
}

.itemLink:focus {
  box-shadow: inset 0 0 1rem 1px var(--color-primary-light);
}

.menuMobile {
  visibility: hidden;
  opacity: 0;
  transform: rotate(90deg);
  transition: transform 0.25s, opacity 0.25s;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  transform-origin: left top;
  background-color: var(--color-background-main);
  z-index: 12;
}
.visible {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.3s, opacity 0.2s;
}

.menuMobileList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.menuMobileItem {
  margin: 1rem 0;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.menuMobileIcon {
  padding: 0.5rem;
  display: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: currentColor;
}

.closeMenu {
  color: var(--color-primary-light);
  border: 1px solid;
  border-radius: 0.2em;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 0.75rem;
  padding: 0.25em 0.5em;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
  .menuMobileIcon {
    display: inline-block;
  }
}
