@use '../scss/settings/media' as *;

@media (max-width: $screen-tablet-small) {
  .md_grid-two {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md_grid-one {
    grid-template-columns: minmax(0, 1fr);
  }

  .md_hide {
    display: none;
  }
}

@media (max-width: $screen-phone-large) {
  .history-trading-container {
    grid-template-columns: minmax(0, 1fr);
  }

  .sm_grid-one {
    grid-template-columns: minmax(0, 1fr);
  }

  .sm_hide {
    display: none;
  }
}
