//  Color  Variables
:root {
  // COLOR

  // Primary Color

  --P1: #fdfdff;
  --P2: #f8f8ff;
  --P3: #f0f1fe;
  --P4: #e6e7ff;
  --P5: #dadcff;
  --P6: #cbcdff;
  --P7: #b8baf8;
  --P8: #9b9ef0;
  --P9: #5b5bd6;
  --P10: #5151cd;
  --P11: #5753c6;
  --P12: #272962;

  // Slate Color

  --B1: #fcfcfd;
  --B2: #f9f9fb;
  --B3: #f0f0f3;
  --B4: #e8e8ec;
  --B5: #e0e1e6;
  --B6: #d9d9e0;
  --B7: #cdced6;
  --B8: #b9bbc6;
  --B9: #8b8d98;
  --B10: #80838d;
  --B11: #60646c;
  --B12: #1c2024;

  // Opacity Color

  --O1: hsl(0deg 0% 0% / 1.2%);
  --O2: hsl(0deg 0% 0% / 2.7%);
  --O3: hsl(0deg 0% 0% / 4.7%);
  --O4: hsl(0deg 0% 0% / 7.1%);
  --O5: hsl(0deg 0% 0% / 9%);
  --O6: hsl(0deg 0% 0% / 11.4%);
  --O7: hsl(0deg 0% 0% / 14.1%);
  --O8: hsl(0deg 0% 0% / 22%);
  --O9: hsl(0deg 0% 0% / 43.9%);
  --O10: hsl(0deg 0% 0% / 47.8%);
  --O11: hsl(0deg 0% 0% / 56.5%);
  --O12: hsl(0deg 0% 0% / 91%);

  // Danger Color
  --R1: #fffcfc;
  --R2: #fff7f7;
  --R3: #feebec;
  --R4: #ffdbdc;
  --R5: #ffcdce;
  --R6: #fdbdbe;
  --R7: #f4a9aa;
  --R8: #eb8e90;
  --R9: #e5484d;
  --R10: #dc3e42;
  --R11: #ce2c31;
  --R12: #641723;

  // Warning Color

  --W1: #fefcfb;
  --W2: #fff7ed;
  --W3: #ffefd6;
  --W4: #ffdfb5;
  --W5: #ffd19a;
  --W6: #ffc182;
  --W7: #f5ae73;
  --W8: #ec9455;
  --W9: #f76b15;
  --W10: #ef5f00;
  --W11: #cc4e00;
  --W12: #582d1d;

  --G1: #fbfefd;
  --G2: #f4fbf7;
  --G3: #e6f7ed;
  --G4: #d6f1e3;
  --G5: #c3e9d7;
  --G6: #acdec8;
  --G7: #8bceb6;
  --G8: #56ba9f;
  --G9: #29a383;
  --G10: #26997b;
  --G11: #208368;
  --G12: #1d3b31;

  //   FONT THEME SECTION

  --fo-3xs: clamp(0.54rem, calc(0.66rem + 1.16vw), 0.62rem);
  --fo-2xs: clamp(0.65rem, calc(0.72rem + -0.1vw), 0.7rem);
  --fo-xs: clamp(0.78rem, calc(0.79rem + -0.02vw), 0.79rem);
  --fo-sm: clamp(0.89rem, calc(0.87rem + 0.1vw), 0.94rem);
  --fo-md: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
  --fo-lg: clamp(1.13rem, calc(1.04rem + 0.44vw), 1.35rem);
  --fo-xl: clamp(1.27rem, calc(1.13rem + 0.69vw), 1.62rem);
  --fo-2xl: clamp(1.42rem, calc(1.22rem + 1.01vw), 1.94rem);
  --fo-3xl: clamp(1.6rem, calc(1.32rem + 1.43vw), 2.33rem);

  // SHADOW THEME SECTION

  --shadow-md: 0 4px 8px -4px var(--B5);

  --sp-3xs: clamp(0.25rem, 0.23rem + 0.09vw, 0.31rem);
  --sp-2xs: clamp(0.5rem, 0.46rem + 0.18vw, 0.63rem);
  --sp-xs: clamp(0.75rem, 0.7rem + 0.27vw, 0.94rem);
  --sp-sm: clamp(1rem, 0.93rem + 0.36vw, 1.25rem);
  --sp-md: clamp(1.5rem, 1.39rem + 0.54vw, 1.88rem);
  --sp-lg: clamp(2rem, 1.86rem + 0.71vw, 2.5rem);
  --sp-xl: clamp(3rem, 2.79rem + 1.07vw, 3.75rem);
  --sp-2xl: clamp(4rem, 3.71rem + 1.43vw, 5rem);
  --sp-3xl: clamp(6rem, 5.57rem + 2.14vw, 7.5rem);
}

html.dark {
  color-scheme: dark;

  // Slate Color
  --B1: #111113;
  --B2: #18191b;
  --B3: #212225;
  --B4: #272a2d;
  --B5: #2e3135;
  --B6: #363a3f;
  --B7: #43484e;
  --B8: #5a6169;
  --B9: #696e77;
  --B10: #777b84;
  --B11: #b0b4ba;
  --B12: #edeef0;

  // Opacity Color
  --O1: hsl(0deg 0% 100% / 0%);
  --O2: hsl(0deg 0% 100% / 1.3%);
  --O3: hsl(0deg 0% 100% / 3.4%);
  --O4: hsl(0deg 0% 100% / 5.6%);
  --O5: hsl(0deg 0% 100% / 8.6%);
  --O6: hsl(0deg 0% 100% / 12.4%);
  --O7: hsl(0deg 0% 100% / 17.6%);
  --O8: hsl(0deg 0% 100% / 24.9%);
  --O9: hsl(0deg 0% 100% / 38.6%);
  --O10: hsl(0deg 0% 100% / 44.6%);
  --O11: hsl(0deg 0% 100% / 59.2%);
  --O12: hsl(0deg 0% 100% / 92.3%);

  --R1: #191111;
  --R2: #201314;
  --R3: #3b1219;
  --R4: #500f1c;
  --R5: #611623;
  --R6: #72232d;
  --R7: #8c333a;
  --R8: #b54548;
  --R9: #e5484d;
  --R10: #ec5d5e;
  --R11: #ff9592;
  --R12: #ffd1d9;

  // Primary Color

  --P1: #13131e;
  --P2: #171625;
  --P3: #202248;
  --P4: #262a65;
  --P5: #303374;
  --P6: #3d3e82;
  --P7: #4a4a95;
  --P8: #5958b1;
  --P9: #5b5bd6;
  --P10: #6e6ade;
  --P11: #b1a9ff;
  --P12: #e0dffe;

  // Success Color

  --G1: #0d1512;
  --G2: #121c18;
  --G3: #0f2e22;
  --G4: #0b3b2c;
  --G5: #114837;
  --G6: #1b5745;
  --G7: #246854;
  --G8: #2a7e68;
  --G9: #29a383;
  --G10: #27b08b;
  --G11: #1fd8a4;
  --G12: #adf0d4;

  // Warning Color
  --W1: #17120e;
  --W2: #1e160f;
  --W3: #331e0b;
  --W4: #462100;
  --W5: #562800;
  --W6: #66350c;
  --W7: #7e451d;
  --W8: #a35829;
  --W9: #f76b15;
  --W10: #ff801f;
  --W11: #ffa057;
  --W12: #ffe0c2;
}
