.container {
  position: relative;
  height: 10rem;
  margin: 0.3rem;
}
.textareaContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
}
.label {
  margin-bottom: 0.2rem;
  font-weight: 500;
}
.textarea {
  padding: 0.5rem;
  color: grey;
  border: none;
  outline: none;
  border-bottom: 2px solid transparent;
  height: 100%;
}
.textarea:focus {
  border-bottom: 2px solid var(--color-primary-light);
}

.messageContainer {
  position: absolute;
  left: 0;
  top: 80%;
  height: 40%;
  width: 100%;
  /* transform: translateY(-50%); */
}
.abbr {
  color: red;
  font-size: 1.1em;
  font-weight: bold;
  margin-left: 0.5rem;
  text-decoration: none;
}

.message {
  color: rgb(201, 44, 44);
  font-size: 0.75rem;
}
