.sk- {
  background-color: var(--B3);
  &:nth-child(even) {
    --scroll-Y: 5rem;
  }
  &:nth-child(odd) {
    --scroll-Y: -5rem;
  }
}

.sk-C::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  aspect-ratio: 1;
  border: 2px solid var(--P5);
  border-radius: 0.5em;
  opacity: 0;
  transform: scale(0);
  z-index: -1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.sk-I {
  line-height: 0;

  & > svg {
    width: 2rem;
    height: 2rem;
  }
}

.sk-A svg {
  width: 4em;
}
