.h-sk {
  background-color: var(--b-3);
}

.h-sk-icnC::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: calc(100% + 8px);
  aspect-ratio: 1;
  border: 2px solid var(--p-5);
  border-radius: 0.5em;
  opacity: 0;
  transform: scale(0);
  z-index: -1;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.h-sk-icn {
  line-height: 0;

  & > svg {
    width: 2rem;
    height: 2rem;
  }
}

.h-sk-amt svg {
  width: 4em;
}
