/*
====================================================================================================
  Article Item Style Section
====================================================================================================
*/

.h-ar {
  overflow: hidden;
  max-width: 480px;
}

.h-ar-btn {
  margin-top: auto;
}
.h-ar-img {
  object-fit: cover;
  object-position: 0 0;
}
.h-ar-imgW {
  height: 15rem;
  overflow: hidden;
  position: relative;
  margin: -1rem;
  margin-bottom: 0;

  & img {
    transform: scale(1);
    transition: transform 1s;
  }

  &:hover img {
    transform: scale(1.15);
  }

  &:hover .h-ar-tags {
    transform: translateY(0);
  }
}

.h-ar-tags {
  --cluster-gap: 0.5rem;

  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  transform: translateY(150%);
  transition: transform 1s;
}

.h-ar-cnt {
  margin-bottom: var(--flow-gap);
}
