.articles {
  // --minimum: 300px;
}

/*
====================================================================================================
  Article Item Style Section
====================================================================================================
*/

.article {
  overflow: hidden;
  max-width: 420px;
}

.article--button {
  margin-top: auto;
}

.article--image-wrapper {
  height: 15rem;
  overflow: hidden;
  position: relative;
  margin: -1rem;
  margin-bottom: 0;
}

.article--image-wrapper img {
  transform: scale(1);
  transition: transform 1s;
}

.article--image-wrapper:hover img {
  transform: scale(1.15);
}

.article--image-wrapper:hover .article--tags {
  transform: translateY(0);
}

.article--header-content {
  line-height: 1.1;
}

.article--tags {
  position: absolute;
  left: 0.5rem;
  bottom: 0.5rem;
  transform: translateY(150%);
  transition: transform 1s;
}

.article--content {
  --flow-gap: 0.5rem;

  margin-bottom: var(--flow-gap);
}

.article--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  padding-top: 1rem;
}

.article--favorite {
  margin-left: auto;
}

.article--favorite[data-bookmark='true'] {
  border-color: var(--orange-9);
  background-color: var(--orange-4);

  & svg {
    fill: var(--orange-9);
    stroke: var(--orange-9);
  }
}
